<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<div  class="main-div">
  <form [formGroup]="userLogin"  class="form-class">
    <div class="form-group">
      <h1 class="heder-class" form>User Login</h1>
<br>
      <div class="user-label">
        <input formControlName="userName"  placeholder="Enter User Name" class="form-control" type="text" />
        <br />
      </div>

      <div class="exampleInputPassword1">
        <br />
        <input formControlName="passWord" placeholder="Enter Password" class="form-control" type="text" />
      </div>
      <br>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
       
        <label class="form-check-label" for="exampleCheck1"
          >Show Password</label
        >
      </div>
      <br />

      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </form>
  {{this.userLogin.value | json}}

  <!-- <form action="" class="form-class-second">
  <div class="divider-second">
    <h1 class="heder-class" form>User Login</h1>

    <div class="user-label">
      <label for="">Enter User Name:</label>
      <input class="input-fild" type="text" />
    </div>

    <div class="user-label">
      <label for="">Enter Password:</label>
      <input class="" type="password" />
    </div>
    

    <br />
    <button type="submit" class="">Login</button>
  </div>
</form> -->
  <!-- 
<form  action="" class="container">
    
    <div class="items">
        
      <label for="">Enter User Name:</label>
      <input formControlName=""  type="text" />
    </div>
    <div class="items">
      <label for="">Enter Password:</label>
      <input formControlName=""  type="password" />
   
    </div>




   <div>
      <button  class="parameter-">Login</button>
    </div> 
  </form>
 -->
</div>
