body {
    background-color: #0560b3
}

.form-class {
    padding: 12%;
    color: aliceblue;
    position: relative;
    left: 20%;
    top: 5px;
    border-radius: 8px;
}
   


.form-group {
    max-width: 50%;

}

.user-login {
    background-color: #0C162D;
    width: 50%;
    position: relative;
    left: 275px;
    top: 75px;
}

h1 {
    text-align: center;
}

button {

    align-items: center;
    width: 75%;

}

.btn-div {
    text-align: center;
    width: 100%;

}

@media only screen and (max-width: 1200px) {
    body {
        background-color: lightblue;
    }

    .form-class {
        padding: 11%;
        background-color: #0C162D;
        color: aliceblue;

    }

    .form-group {
        max-width: 50%;
    }

    h1 {
        text-align: center;
    }

    button {

        align-items: center;

    }

    .btn-div {
        text-align: center;
        width: 100%;

    }
}





/* body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 2fr 2fr  ;
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    background-color: #182943;
}

.container .items {
    display: grid;
    grid-template-rows: 2fr 2fr;
    width: 50%;
  
  
    

}

input {
    width: 100%;
    margin-bottom: 5px;
    height: 100%;
  

}
label{
    color: aliceblue;
} */