<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<body >
  <div class="user-login">
  <form [formGroup]="userLogin" class="form-class">
    
    <div class="form-group">
      <h1 class="heder-class" form>User Login</h1>
      <br />
      <div class="user-label">
        <input
          formControlName="userName"
          placeholder="Enter User Name"
          class="form-control"
          type="text"
        />
        <br />
      </div>

      <div class="exampleInputPassword1">
        <br />
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="passWord"
          placeholder="Enter Password"
          class="form-control"
        />
      </div>
      <p>Register New Member</p>
      <br />

      <br />

      <div class="btn-div">
        <button type="submit" class="btn btn-success">Login</button>
      </div>
    </div>
  </form>
</div>
</body>

<!-- {{this.userLogin.value | json}} -->
