<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- <div class="container">
  <div class="second-container">
    <div class="third-container">
      <div class="box">
        <div class="jes">
          <div class="jes-two">
            <div class="jes-third">
              <div class="jes-fourth"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="jes">
          <div class="jes-two">
            <div class="jes-third">
              <div class="jes-fourth"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="jes">
          <div class="jes-two">
            <div class="jes-third">
              <div class="jes-fourth"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="third-container"></div>
    <div class="third-container"></div>
  </div>
  <div class="second-container-second">
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <button class="test-button-class">Test Button</button>
    </div>
    <div class="second-box">
      <button class="test-button-class">Test Button</button>
    </div>
    <div class="second-box">
      <button class="test-button-class">Test Button</button>
    </div>
  </div>
  <div class="second-container-second">
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <button class="test-button-class">
        <i class="fa fa-home"></i> Test Button
      </button>
    </div>
    <div class="second-box">
      <button class="test-button-class">
        <i class="fa fa-bars"></i> Test Button
      </button>
    </div>
    <div class="second-box">
      <button class="test-button-class">
        <i class="fa fa-close"></i>Test Button
      </button>
    </div>

  </div>
  <div class="second-container-third">
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <input type="text " class="first-inputs" />
    </div>
    <div class="second-box">
      <div class="dropdown">
      <button class="test-button-class"> <i class="fa fa-caret-down"></i>Test Button</button>
      <div class="dropdown-content">
        <a href="#">Link1</a>
        <a href="#">Link1</a>
        <a href="#">Link1</a>
      </div>
    </div>
    </div>
    <div class="second-box">
      <button class="test-button-class">Test Button</button>
    </div>
    <div class="second-box">
      <button class="test-button-class">Test Button</button>
    </div>
  </div>
</div> -->
<div class="container-for-table">
  <div class="">
    <table>
      <tr class="table-heder">
        <th class="table-heder">Sample</th>
        <th class="table-heder">Sample</th>
        <th class="table-heder">Sample</th>
      </tr>
    </table>

    <table>
      <thead>
        <tr class="table-heder-second">
          <th class="table-heder-second-th">Date</th>
          <th class="table-heder-second">Total Earning</th>
          <th class="table-heder-second">Toatal Picerate (A)</th>
          <th class="table-heder-second">Total Dailypay B=(K+G+H)</th>
          <th class="table-heder-second">Effiency C=(A-B)</th>
          <th class="table-heder-second">In Date</th>
          <th class="table-heder-second">Out Date & Time</th>
          <th class="table-heder-second">Shift</th>
          <th class="table-heder-second">Section</th>
          <th class="table-heder-second">Basic Salary (K)</th>
          <th class="table-heder-second">Insentive(G)</th>
          <th class="table-heder-second">O/T (H)</th>
          <th class="table-heder-second">Activity</th>
          <th class="table-heder-second">Op Hp</th>
          <th class="table-heder-second">Qty per Emp (D)</th>
          <th class="table-heder-second">Rate (E)</th>
          <th class="table-heder-second">Piecerate Amount: F=(DxE)</th>
        </tr>
      </thead>
      <tbody class="table-heder-third">
        <tr>
          <td class="table-data">1</td>
          <td class="table-data">4114.20</td>
          <td class="table-data">4114.20(411)</td>
          <td class="table-data">2340.63</td>
          <td class="table-data">1773.58</td>
          <td >
            
            <table >
              <tbody >
                <td class="test">1</td>
                <td>8:00</td>
              </tbody>
            </table>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
