.container {

    border: 1px solid red;
    margin: 2%;
    width: 800px;
    height: 10000px;
}

.second-container {
    border: 5px solid orange;
    width: 600px;
    height: 250px;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.another-Container {
    border: 5px solid rgb(51, 155, 235);
    width: 150px;
    height: 200px;
    margin: 2%;
    display: grid;

}

.another-Container-second {
    border: 5px solid rgb(200, 1, 1);
    width: 150px;
    height: 200px;
    margin: 2%;
    display: grid;


}


.third-container {
    border: 5px solid rgb(1, 1, 200);
    width: 150px;
    height: 200px;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.box {
    border: 5px solid rgb(225, 16, 187);
    width: 40px;
    height: 100px;
    margin: 2%;
}

.jes {
    border: 3px solid red;
    width: 30px;
    height: 30px;
    margin: 5%;
}

.jes-two {
    border: 3px solid red;
    width: 20px;
    height: 20px;
    margin: 10%;
}

.jes-fourth {
    border: 3px solid red;
    width: 2px;
    height: 2px;
    margin: 10%;
}

.second-box {
    border: 5px solid rgb(225, 16, 187);
    width: 200px;
    height: 100px;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.second-container-second {
    border: 5px solid rgb(37, 244, 10);
    width: 690px;
    height: 250px;
    /* margin:0%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.first-inputs {
    height: 30px;
    font-weight: 650;
    margin: 10%;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.test-button-class {
    height: 50px;
    width: 150px;
    margin: 10%;
    padding: 2%;
    font-weight: 650;
    font-size: larger;

}

.second-container-third {
    border: 5px solid rgb(37, 244, 10);
    width: 690px;
    height: 250px;
    /* margin:0%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 160px;
    z-index: 1;

}

.container-for-table {

    border: 2px solid red;
    margin: 2%;
    width: 1200px;
    height: 500px;
}

.table-heder {

    width: 1150px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;

}

.table-heder-second {

    width: 1150px;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;

}

.table-heder-second-th {

    height: 100px;

    border: 2px solid black;

}

.table-heder-third {

    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr 1fr;

}

.divi {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100px;

    border: 1px solid rgb(0, 0, 0);


}
.test{
    border-left: 2px solid rgb(0, 0, 0);

}