<h1 class="heder">Monthly Parameter Setup</h1>
<form [formGroup]="parameterForm" action="" class="container">
    <div class="items">
      <label for="">Id:</label>
      <input formControlName="parameterId"  type="text" />
    </div>
    <div class="items">
      <label for="">Active:</label>
      <select formControlName="parameterActive" name="" id="">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
    </div>
    <div class="items">
      <label for="">Month:</label>
      <input formControlName="parameterMonth" type="date" />

    </div>
    <div class="items">
      <label for="">Working Days:</label>
      <select formControlName="parameterWorkingDays"  name="" id="">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
    </div>
    <div class="items">
      <label for="">Average hours Per Shift:</label>
      <input formControlName="parameterAverageHoursPerShift"  type="time" />
    </div>
    <div class="items">
      <label for="">Actual Days:</label>
      <input formControlName="parameterActualDays"  type="text" />
    </div>
    <div class="items">
      <label for="">Working Hours Per Month:</label>
      <input formControlName="parameterAverageHoursPerShift"  type="time" />
    </div>
    <div class="items">
      <label for="">Maximum PiceRate Pay Ratio:</label>
      <input formControlName="parameterMaximumPriceratePayRatio"  type="number" />
    </div>
   <div>
      <button (click)="showData()" class="parameter-">Save</button>
    </div> 
  </form>
  <div>
    <button style="align-items: center;" class="parameter-">Add Division(+)</button>
  </div> 

  <table>
    <thead>
      <tr>
        <th>Division</th>
        <th>Division Name</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td ><input type="text"></td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>2</td>
        <td ><input type="text"></td>
        <td>Mexico</td>
      </tr>
    </thead>
  </table>
{{this.parameterForm.value|json}}
  