
<div class="container">
  <div class="a">
    <form class="mt-3">
      <div class="my-3 mx-5">
        <h1 class="text-center">Registration Form</h1>
      </div>
      <div class="my-3 mx-auto col-md-6 col-sm-6">
        <input
          placeholder="Enter New Username"
          formControlName="userName"
          type="email"
          class="form-control mx-auto"
          id="emailId"
     
        />
      </div>
      <div class="my-3 mx-auto col-md-6 col-sm-6">
        <input type="email" placeholder="Enter New Email Address" formControlName="emailAddress" class="form-control mx-auto">

      </div>
      <div class="my-3 mx-auto col-md-6 col-sm-6">
        <input
          placeholder="Enter New Password"
          type="password"
          formControlName="password"
          class="form-control mx-auto"
        />
      </div>
      <div class="my-3 mx-auto col-md-6 col-sm-6">
        <input
          type="password"
          placeholder="Re-Enter Password"
          formControlName="reTypePassword"
          class="form-control mx-auto"
        />
      </div>
  
      <div class="my-3 mx-auto col-md-6 col-sm-6">
        <h6>Registerd ? Login Here</h6>
      </div>
  
      <div class="my-3 mx-auto col-md-6 col-sm-6">
        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </form>
  </div>
</div>
